body {
  background-color: #292929;
  font-family:
    ui-monospace,          /* Newer Apple/Win10+ */
    SFMono-Regular,        /* Apple */
    Menlo,                 /* macOS */
    Consolas,              /* Windows */
    "Liberation Mono",     /* Linux */
    "Noto Sans Mono",
    monospace;
}
.item {
  background-color: #292929;
  color: white;
  padding: 8px;
  height: auto;
  margin: 8px;

  border-radius: 10px;
  border: 2px solid #258c00
}
a {
  color: #258c00
}
.TOSearch-item {
  padding: 6px;
  font-size: 19px;
  cursor: pointer
}
#to-search-res {
  height: 120px;
  overflow-y: scroll
}
#panel-3d {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100
}
#panel-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10000
}
input {
  padding: 10px
}
button {
  padding: 10px;
  border-radius: 0px;
  color: black;
  border: none;
  margin: 8px;
  background-color: white
}
select {
  padding: 10px;
  border-radius: 0px;
  color: black;
  border: none;
  font-size: 13px
}
option {
  padding: 20px
}
#checklists {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: white;
  overflow-y: scroll
}
#checklist-items {
  padding: 16px
}
.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding 6px;
  cursor: pointer;
  margin-top: 8px
}
.cb[type="checkbox"] {
  accent-color: #258c00;
}
.option:has(input:checked) {
  background-color: #d6d6d6;
  text-decoration-line: line-through;
  text-decoration-color: #525252;
  text-decoration-thickness: 2px
}
#forms {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: none;
  overflow-y: scroll;
  overflow-x: scroll
}
#IMDS {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: none;
  overflow-y: scroll;
}
#imds-results {
  margin-left: 8px
}
.h781 {
  width: 100%;
  height: auto
}
#H-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  overflow-y: scroll
}
#torque-calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  color: black;
  overflow-y: scroll;
  padding: 8px
}
#loader-wrapper {
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
}
#loader-status {
  color: black;
}
#legal {
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  overflow-y: scroll
}
h5 {
  color: #3b3b3b
}
